/* Certain parts of the css is taken from youtube.com/watch?v=zc1loX80TX8*/
.chatroom {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  height: 100vh;
}

.channelTopBar {
  display: flex;
  padding: 1em;
}

.headerContainer {
  padding: 5px;
}

.chatInput {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 3px;
  margin: 15px;
  background-color: rgb(77, 74, 74);
}

.chatMessages {
  flex: 1;
  overflow-wrap: break-word;
  overflow-y: scroll;
  margin-left: 5px;
}

.chatInput > form {
  width: 100%;
}

.chatInput > form > input {
  padding: 15px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
  outline-width: 0;
  width: 100%;
}

.chatInputSubmit {
  display: none;
}

.analytics_div {
  margin-left: 15px;
  margin-top: 10px;
}

.analytics_inner_div {
  margin-top: 20px;
}

.analytics_text {
  color: white;
  font-size: large;
  margin-left: 10px;
}

.analytics_btn {
  margin-left: 15px !important;
}